In [6]:
# load required Pyhton modules 

import pandas as pd
import sqlite3

# Read Data Set and Respective Columns
adult_columns = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names', sep=":")

#Columns Name for DataSet
adult_columns.iloc[91:106,].index.tolist()

['>50K, <=50K.',
 'age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country']

In [8]:
# Reorder columns 
adult_names= adult_columns.iloc[91:106,].index.tolist()
adult_names=adult_names[1:]+adult_names[0::-1]
adult_names

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 '>50K, <=50K.']

In [11]:
# Read Data Set annd Apply coumns Names

adult_data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , names=adult_names,header=None , index_col=False)
# Convert columns name to Title case
adult_data.columns=adult_data.columns.str.capitalize().tolist()
adult_data.head(2)

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,">50k, <=50k."
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [12]:
#Task
#Create a sql db from adult dataset and name it sqladb

connection = sqlite3.connect('sqladb.db') # Create Database
cursor = connection.cursor()

In [13]:
# Create table 

connection.execute('''
    CREATE TABLE IF NOT EXISTS ADULTS (
         Age INTEGER,
         Workclass VARCHAR(20),
         Fnlwgt INTEGER,
         Education VARCHAR(20),
         Education_num INTEGER,         
         Marital_status VARCHAR(30),         
         Occupation VARCHAR(20),
         Relationship VARCHAR(20),
         Race VARCHAR(20),
         Sex VARCHAR(10),
         Capital_gain INTEGER,
         Capital_loss INTEGER,
         Hours_per_week INTEGER,
         Native_country VARCHAR(30),
         '>50k, <=50k.' VARCHAR(10)
        
    )
''')

connection.commit()

In [14]:
# Insert Data into adult table from  adult_data(dataframe)

insert_query = "INSERT INTO ADULTS (Age, Workclass, Fnlwgt, Education, Education_num, Marital_status, Occupation, Relationship, Race, Sex, Capital_gain, Capital_loss, Hours_per_week, Native_country, '>50k, <=50k.') values (%d,'%s', %d, '%s', %d, '%s','%s','%s','%s','%s',%d,%d,%d,'%s','%s')"

for index, row in adult_data.iterrows():
    connection.execute(insert_query % (row['Age'], row['Workclass'], row['Fnlwgt'], row['Education'],row['Education-num'],row['Marital-status'],row['Occupation'],row['Relationship'],row['Race'],row['Sex'],row['Capital-gain'],row['Capital-loss'],row['Hours-per-week'],row['Native-country'],row['>50k, <=50k.']))

connection.commit()

In [15]:
#1. Select 10 records from the adult sqladb

 # connect to database
conn = sqlite3.connect("sqladb.db") 
result = pd.read_sql_query("select * from ADULTS LIMIT 10;", conn)
result

,Age,Workclass,Fnlwgt,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country,">50k, <=50k."
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [24]:
# 2. Show me the average hours per week of all men who are working in private sector 
conn = sqlite3.connect("sqladb.db")
df_Mens_Workclass = pd.read_sql_query("select  Sex , Workclass , AVG(Hours_per_week)  from ADULTS where ltrim(upper(ADULTS.sex)) ='MALE' and ltrim(upper(ADULTS.WorkClass))='PRIVATE' group by Sex,WorkClass", conn)

df_Mens_Workclass

     Sex Workclass  AVG(Hours_per_week)
0   Male   Private            42.221226

In [27]:
#3. Show me the frequency table for education, occupation and relationship, separately

conn = sqlite3.connect("sqladb.db")
eduction_df = pd.read_sql_query("SELECT Education, count(Education) FROM ADULTS GROUP BY Education;" , conn) # Query the database and convert data into dataframe

#Frequency table for education
eduction_df

        Education  count(Education)
0            10th               933
1            11th              1175
2            12th               433
3         1st-4th               168
4         5th-6th               333
5         7th-8th               646
6             9th               514
7      Assoc-acdm              1067
8       Assoc-voc              1382
9       Bachelors              5355
10      Doctorate               413
11        HS-grad             10501
12        Masters              1723
13      Preschool                51
14    Prof-school               576
15   Some-college              7291

In [26]:
conn = sqlite3.connect("sqladb.db")
occupation_df  = pd.read_sql_query("SELECT Occupation, count(Occupation) FROM ADULTS GROUP BY Occupation;", conn)

#Frequency table for occupation
occupation_df

            Occupation  count(Occupation)
0                    ?               1843
1         Adm-clerical               3770
2         Armed-Forces                  9
3         Craft-repair               4099
4      Exec-managerial               4066
5      Farming-fishing                994
6    Handlers-cleaners               1370
7    Machine-op-inspct               2002
8        Other-service               3295
9      Priv-house-serv                149
10      Prof-specialty               4140
11     Protective-serv                649
12               Sales               3650
13        Tech-support                928
14    Transport-moving               1597

In [28]:
conn = sqlite3.connect("sqladb.db")
relationship_df  = pd.read_sql_query("SELECT Relationship, count(Relationship) FROM ADULTS GROUP BY Relationship;", conn) # Query the database and convert data into dataframe

#Frequency table for relationship
relationship_df

      Relationship  count(Relationship)
0          Husband                13193
1    Not-in-family                 8305
2   Other-relative                  981
3        Own-child                 5068
4        Unmarried                 3446
5             Wife                 1568

In [31]:
#4. Are there any people who are married, working in private sector and having a masters degree

conn = sqlite3.connect("sqladb.db")
result  = pd.read_sql_query("SELECT workclass, education,'Marrid',count(*) from ADULTS a where ltrim(a.Marital_status) in('Married-civ-spouse','Married-spouse-absent','Married-AF-spouse') and ltrim(upper(a.Workclass))='PRIVATE' and  ltrim(upper(a.education))='MASTERS' group by a.workclass, a.education;", conn)

result

  Workclass Education 'Marrid'  count(*)
0   Private   Masters   Marrid       540

In [32]:
#5. What is the average, minimum and maximum age group for people working in different sectors

conn = sqlite3.connect("sqladb.db")
result  = pd.read_sql_query("SELECT Workclass, AVG(Age) , MIN(Age), MAX(Age) FROM ADULTS GROUP BY Workclass ;", conn)
result

           Workclass   AVG(Age)  MIN(Age)  MAX(Age)
0                  ?  40.960240        17        90
1        Federal-gov  42.590625        17        90
2          Local-gov  41.751075        17        90
3       Never-worked  20.571429        17        30
4            Private  36.797585        17        90
5       Self-emp-inc  46.017025        17        84
6   Self-emp-not-inc  44.969697        17        90
7          State-gov  39.436055        17        81
8        Without-pay  47.785714        19        72

In [38]:
#6. Calculate age distribution by country
conn = sqlite3.connect("sqladb.db")
result  = pd.read_sql_query("SELECT Native_country, Age , COUNT(Age) FROM ADULTS where ltrim(ADULTS.Native_country)<>'?' GROUP BY Native_country, Age ;", conn)
result.head(100)

   Native_country  Age  COUNT(Age)
0        Cambodia   18           1
1        Cambodia   25           1
2        Cambodia   27           2
3        Cambodia   28           1
4        Cambodia   32           1
5        Cambodia   34           1
6        Cambodia   35           1
7        Cambodia   36           1
8        Cambodia   37           2
9        Cambodia   40           2
10       Cambodia   42           1
11       Cambodia   46           1
12       Cambodia   48           1
13       Cambodia   50           1
14       Cambodia   51           1
15       Cambodia   65           1
16         Canada   17           2
17         Canada   18           1
18         Canada   19           1
19         Canada   20           2
20         Canada   22           1
21         Canada   23           3
22         Canada   24           3
23         Canada   25           5
24         Canada   26           2
25         Canada   27           2
26         Canada   28           3
27         Canada   29           4
28         Canada   30           3
29         Canada   31           2
..            ...  ...         ...
70          China   23           2
71          China   24           2
72          China   25           1
73          China   27           1
74          China   28           1
75          China   29           1
76          China   30           4
77          China   31           2
78          China   32           2
79          China   33           4
80          China   34           4
81          China   35           2
82          China   36           3
83          China   37           1
84          China   39           2
85          China   40           4
86          China   41           3
87          China   43           2
88          China   44           1
89          China   45           5
90          China   46           2
91          China   48           3
92          China   49           1
93          China   50           1
94          China   51           1
95          China   52           2
96          China   53           2
97          China   54           2
98          China   56           2
99          China   57           1

[100 rows x 3 columns]

In [39]:
#7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

conn = sqlite3.connect("sqladb.db")
result  = pd.read_sql_query("SELECT *,(ADULTS.Capital_gain - ADULTS.Capital_loss) as 'Net-Capital-Gain' from ADULTS;", conn)
result.head(100)

,Age,Workclass,Fnlwgt,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country,">50k, <=50k.",Net-Capital-Gain
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,0
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,0
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,0
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,-2042
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,0
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,0
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,19,Private,101509,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,32,United-States,<=50K,0
71,31,Private,309974,Bachelors,13,Separated,Sales,Own-child,Black,Female,0,0,40,United-States,<=50K,0
72,29,Self-emp-not-inc,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K,0
73,23,Private,211678,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K,0
75,27,Private,213921,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,Mexico,<=50K,0
76,40,Private,32214,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K,0
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K,0
78,18,Private,309634,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,22,United-States,<=50K,0
79,31,Local-gov,125927,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K,0
80,18,Private,446839,HS-grad,9,Never-married,Sales,Not-in-family,White,Male,0,0,30,United-States,<=50K,0
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K,0
82,46,Private,51618,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States,<=50K,0
83,59,Private,159937,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K,0
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K,14344
85,53,Private,346253,HS-grad,9,Divorced,Sales,Own-child,White,Female,0,0,35,United-States,<=50K,0
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,0
87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,0
88,30,Private,54334,9th,5,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K,0
90,57,Private,249977,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K,0
91,37,Private,286730,Some-college,10,Divorced,Craft-repair,Unmarried,White,Female,0,0,40,United-States,<=50K,0
92,28,Private,212563,Some-college,10,Divorced,Machine-op-inspct,Unmarried,Black,Female,0,0,25,United-States,<=50K,0
93,30,Private,117747,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,?,<=50K,-1573
94,34,Local-gov,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,0
95,29,Local-gov,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K,0
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K,-1902
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K,0
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K,0
99,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K,0